.wrapper{
    width: 1440px;
    margin: 0 auto;
}

.explore-photo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 2.5em;
    margin-bottom: 180px;
    .img-grid a {
        height: auto;
        display: block;
        overflow: hidden;
        margin:auto;
    }
    .img-grid a img {
        transition: transform 0.6s ease;
    }
    .img-grid a img:hover {
        transform: scale(1.05);
    }
    .img-grid a img {
        object-fit: cover;
    }
}

.titre-ligne{
    color: #000;
    font-family: playfair;
    text-transform: uppercase;
    font-size: 1.5em;
    padding-top: 20px;
}

section{
    margin-bottom: 100px;
}

.sec-approche{
    background-color:#FAFAFA ;
    padding: 80px 0;
    .approche{
        display: flex;
        align-items: center;
    }
    .approche-img{
        width: 50%;
        margin-right: 100px;
        img{
            width: 100%;
        }
    }
    .approche-text{
        width: 50%;
        margin-left: 100px;
        padding: 0 80px;
        line-height: 1.5;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        p:nth-of-type(2){
            font-family: playfair;
            padding: 0 25px;
        }
    }
}

// Boutton de couleur

.btn {
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    @include color;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    padding: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
}


////fin du boutton

.our-wine {
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    .our-wine-photo{
        width: 50%;
        text-align: center;
        img{
            width: 100%;
        }
        p {
            font-family: playfair;
            padding: 0 100px;
            line-height: 1.5;
        }
    }
}

.grap-vine {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-top: 20px;
    .two-min {
        text-transform: uppercase;
        color: #96958a;
        font-weight: 600;
        font-size: 0.9em;
        &::before{
            content: "";
            display: inline-block;
            width: 2px;
            height: 15px;
            background-color: #96958a;
            translate: 0 2px;
            margin: 0 10px;
        }
    }
    img {
        width: 100%;
        margin-bottom: 30px;
    }
    a {
        color: #000;
    }
    p {
        font-family: playfair;
        line-height: 1.5;
    }
    .btn-read{
        text-transform: uppercase;
        color: #96958a;
        font-weight: 600;
        font-size: 0.9em;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.sec-grap-vine{
    display: flex;
  align-items: center;
  flex-direction: column;
    .grape__btn{
        width: 420px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        background-color: $bgcolor;
        font-size: 0.7em;
        letter-spacing: 0.2em;
        padding: 20px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}


// ****************PAGE SIGNLE BOTTLE ****************

.signle-bottle{
    display: grid;
    // grid-template-areas:
    // '. . . . '
    // 'myArea myArea . . '
    // 'myArea myArea . . '
    // '. . . . ';
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    box-sizing: border-box;
    width: 100%;
}

.bottle-big{
    // grid-area: myArea;
    grid-column: span 2;
    grid-row: 2 / span 2;
}